<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 导入bootstrap css -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.3.7/dist/css/bootstrap.css' %}">
    <!-- 导入 font-awesome css-->
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.css' %}">
    <!-- 导入自定义css -->
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}">

    <!-- 导入jquery -->
    <script src="{% static 'plugins/jquery-3.2.1.js' %}"></script>
    <!-- 导入bootstrap js -->
    <script src="{% static 'plugins/bootstrap-3.3.7/dist/js/bootstrap.js' %}"></script>
    <!-- 导入自定义 js -->
    {#<script src="{% static 'js/analyze.js' %}"></script>#}
    {#<script src="{% static 'js/Papa_func.js' %}"></script>#}
    <script src="{% static 'js/King_func.js' %}"></script>

    <script>
        // 第一种方式：普通函数封装
        //f1();

        //第二种方式：自执行函数 + jQuery扩展
        $(function () {
            $.King_func('/server_json.html');
        });

    </script>

</head>
<body>
<div class="container">
    <h1>服务器列表</h1>

    <!-- 组合搜索开始 -->
    <div class="search-area clearfix">
        <div id="searchCondition" class="search-condition col-md-offset-2 col-md-8">
            <!-- 单个搜索条件 开始 -->
            <div class="condition">
                <div class="icons">
                    <a class="btn btn-default add-condition">
                        <i class="fa fa-plus-square"></i>
                    </a>
                </div>
                <div class="input-group">
                    <div class="input-group-btn">
                        <label class="btn btn-default no-radius" type="button" style="width: 100px; height: 34px"></label>
                        <button type="button" class="btn btn-default dropdown-toggle no-border-r" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <!-- 搜索下拉菜单li标签由JS生成 -->
                        </ul>
                    </div>
                    <!-- 搜索输入框，由JS生成： <input> / <select> -->
                </div>
            </div>
        </div>

        <div class="search-btn col-md-offset-10 col-md-2">
            <a id="doSearch" class="btn btn-primary">搜索</a>
        </div>
    </div>
    <!-- 组合搜索结束 -->

    <!-- 数据开始 -->
    <table class="table table-bordered">
        <thead id="tableThead">
        <tr>

        </tr>

        </thead>
        <tbody id="tableBody">

        </tbody>
    </table>
    <!-- 数据结束 -->

    <!-- 分页开始，注意这里用的是bootstrap样式，请勿更改class, id -->
    <ul id="pagination" class="pagination"></ul>
    <!-- 分页结束 -->
</div>

<!-- 模态加载动画框开始 -->
<div id="loading" class="loading hide">
    <div class="gif"></div>
</div>
<!-- 模态加载动画框结束 -->
</body>
</html>